.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-direction: column;
    row-gap: 20px;
}

.user-info {
    width: 30%;
    padding: 30px;
    border: 1px solid rgb(221, 219, 219);
    border-radius: 2px;
    background-color: white;
    height: 70vh;
}